*, body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#calculater{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #9F9F9F;
}
#content{

    background-color:#000000 ;
    color:#F9F9F9 ;
    font-size: 40pt;
    box-shadow: #2b2b2b 10px 10px 50px;
}

#visor{
    width: 100%;
    background-color: #F9F9F9;
}


.num{
    background-color: #313131;
}

.opt_two{
    background-color: #F48F05;
    
}
.opt_one{
    background-color: #9F9F9F;

}

.num, .opt_one, .opt_two{
    border-style: none;
    font-size: 30pt;
    color: #F9F9F9;
    width: 80px;
    height: 80px;
    border-radius: 50px;

}
#content {  display: grid;
    grid-template-columns: 1fr 1.6fr 0.4fr; 
    grid-template-rows: 0.9fr 0.7fr 1.4fr 1fr; 
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "visor visor visor"
      "operators-one operators-one operators-two"
      "numbers numbers operators-two"
      "numbers numbers operators-two";
      width: 413px;
      padding: 20px;
      border-radius: 37px;
}

#visor { grid-area: visor;
background-color: transparent; }

#visor-content{
    width: 100%;
    height: 90%;
    font-size: 40pt;
    padding: 25px;
    border-radius: 20px;
    text-align: end;
    background-color: #F9F9F9;
    color: #2b2b2b;
    display: flex;
    justify-content: end;
    align-items: center;
}
#visor-content{
    font: normal 30pt 'Arial';
    color: #2b2b2b;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#delet{
    background-image: url(delet.svg);
    background-repeat: no-repeat;
    background-size: 65px;
    background-position: center;
}

#numbers {
    grid-area: numbers;
    text-align: center;
    justify-content: space-evenly; }
#operators-one {
    grid-area:operators-one;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1px;
}
#operators-two{
grid-area: operators-two;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-evenly;
}

#numbers fieldset{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}
#zero{
    width: 160px;
    height: 70px;
    border-radius: 30px;
    text-align: center;
}


.num:hover{
    border: 5px solid rgb(61, 61, 61,1);
}
.opt_one:hover{
    border: 5px solid rgb(145, 145, 145,1);
}
.opt_two:hover{
    border: 5px solid rgb(255, 164, 36);
}


@media (max-width:700px) {
    #content{
        width: 364px;
        padding: 8px;
    }
}

